[alias]
commit-including-submodule = "!f() { \
         if [[ -z $1 ]]; then \
            echo "ERROR: Commit message required!"; \
         else \
            echo "INFO: Commit message is: $1"; \
            git submodule foreach git add .;  \
            git submodule foreach git commit -m '$1'; \
            git add . && git commit -m '$1'; \
            echo "SUCCESS: You have succesfully commited all your changes."; \
         fi; \
       }; f"